@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #475569;
  --color-background: #F8FAFC;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}
